<div class="grid">
  <app-cell [col]='0' [row]='0' class="cell"></app-cell>
  <app-cell [col]='1' [row]='0' class="cell"></app-cell>
  <app-cell [col]='2' [row]='0' class="cell"></app-cell>
  <app-cell [col]='0' [row]='1' class="cell"></app-cell>
  <app-cell [col]='1' [row]='1' class="cell"></app-cell>
  <app-cell [col]='2' [row]='1' class="cell"></app-cell>
  <app-cell [col]='0' [row]='2' class="cell"></app-cell>
  <app-cell [col]='1' [row]='2' class="cell"></app-cell>
  <app-cell [col]='2' [row]='2' class="cell"></app-cell>
</div>
