<div class="box">
  <app-players-header></app-players-header>
  <div class="board">
    <app-cell [col]='0' [row]='0' class="cell"></app-cell>
    <app-cell [col]='1' [row]='0' class="cell"></app-cell>
    <app-cell [col]='2' [row]='0' class="cell"></app-cell>
    <app-cell [col]='0' [row]='1' class="cell"></app-cell>
    <app-cell [col]='1' [row]='1' class="cell"></app-cell>
    <app-cell [col]='2' [row]='1' class="cell"></app-cell>
    <app-cell [col]='0' [row]='2' class="cell"></app-cell>
    <app-cell [col]='1' [row]='2' class="cell"></app-cell>
    <app-cell [col]='2' [row]='2' class="cell"></app-cell>
  </div>
  <div class="footer">
    <div class="endgame">
      <span *ngIf="endGame$ | async; let endGame">
        Fim de jogo!
        <ng-container *ngIf="endGame.draw; else victory">
          Empate!
        </ng-container>
        <ng-template #victory>
          Player {{ endGame.name }} Venceu!
        </ng-template>
      </span>
    </div>
    <button (click)="reset()">Reiniciar Jogo</button>
  </div>
</div>
