/* You can add global styles to this file, and also import other style files */
@import "~@angular/cdk/overlay-prebuilt.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
  --bg: #353535;
  --text-color: #fff;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg);
  color: var(--text-color);
}
